<!DOCTYPE html>
<html lang="en" class="">

<!-- Mirrored from technext.github.io/admin-one/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 06:41:17 GMT -->
<!-- Added by HTTrack -->
<!--<meta http-equiv="content-type" content="text/html;charset=utf-8" />--><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>

    <!-- Tailwind is included -->
    <link rel="stylesheet" href="~/Assets_DB/css/main2eec.css?v=1628755089081">
    <link rel="stylesheet" href="~/Assets_DB/materialdesignicons.min.css" />
   


    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets_DB/technext.github.io/admin-one/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets_DB/technext.github.io/admin-one/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets_DB/technext.github.io/admin-one/favicon-16x16.png" />
    <link rel="mask-icon" href="~/Assets_DB/technext.github.io/admin-one/safari-pinned-tab.svg" color="#00b4b6" />

    <meta name="description" content="Admin One - free Tailwind dashboard">

    <meta property="og:url" content="https://justboil.github.io/admin-one-tailwind/">
    <meta property="og:site_name" content="JustBoil.html">
    <meta property="og:title" content="Admin One HTML">
    <meta property="og:description" content="Admin One - free Tailwind dashboard">
    <meta property="og:image" content="../../justboil.me/images/one-tailwind/repository-preview-hi-res.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="960">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Admin One HTML">
    <meta property="twitter:description" content="Admin One - free Tailwind dashboard">
    <meta property="twitter:image:src" content="../../justboil.me/images/one-tailwind/repository-preview-hi-res.png">
    <meta property="twitter:image:width" content="1920">
    <meta property="twitter:image:height" content="960">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130795909-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-130795909-1');
    </script>



</head>


<body>


    <div id="app">

        <nav id="navbar-main" class="navbar is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item mobile-aside-button">
                    <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
                </a>
                <div class="navbar-item">
                    <div class="control"><input placeholder="Search everywhere..." class="input"></div>
                </div>
            </div>
            <div class="navbar-brand is-right">
                <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
                    <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item dropdown has-divider">
                        <a class="navbar-link">
                            <span class="icon"><i class="mdi mdi-menu"></i></span>
                            <span>Menu</span>
                            <span class="icon">
                                <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="navbar-dropdown">
                            <a href="profile.html" class="navbar-item">
                                <span class="icon"><i class="mdi mdi-account"></i></span>
                                <span>My Profile</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-settings"></i></span>
                                <span>Settings</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-email"></i></span>
                                <span>Messages</span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-logout"></i></span>
                                <span>Log Out</span>
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item dropdown has-divider has-user-avatar">
                        <a class="navbar-link">
                            <div class="user-avatar">
                                <img src="images/future-bus-computer-desktop-background-wallpaper-preview.jpg" alt="" class="rounded-full">
                            </div>
                            <!-- <div class="is-user-name"><span>Jhon</span></div> -->
                            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
                        </a>
                        <div class="navbar-dropdown">
                            <a href="profile.html" class="navbar-item">
                                <span class="icon"><i class="mdi mdi-account"></i></span>
                                <span>My Profile</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-settings"></i></span>
                                <span>Settings</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-email"></i></span>
                                <span>Messages</span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-logout"></i></span>
                                <span>Log Out</span>
                            </a>
                        </div>
                    </div>
                    <a href="" class="navbar-item has-divider desktop-icon-only">
                        <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
                        <span>About</span>
                    </a>
                    <!-- <a href="https://github.com/justboil/admin-one-tailwind" class="navbar-item has-divider desktop-icon-only">
                      <span class="icon"><i class="mdi mdi-github-circle"></i></span>
                      <span>GitHub</span>
                    </a> -->
                    <a title="Log out" class="navbar-item desktop-icon-only">
                        <span class="icon"><i class="mdi mdi-logout"></i></span>
                        <span>Log out</span>
                    </a>
                </div>
            </div>
        </nav>

        <aside class="aside is-placed-left is-expanded">
            <div class="aside-tools">
                <div>
                    Admin <b class="font-black">One</b>
                </div>
            </div>
            <div class="menu is-menu-main">
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li class="active">
                        <a asp-action="Index" asp-controller="HomeDB">
                            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                            <span class="menu-item-label">Dashboard</span>
                        </a>
                    </li>
                </ul>
                <p class="menu-label">Examples</p>
                <ul class="menu-list">

                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Service</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>
                            <li>
                                <a asp-action="New" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Services Update</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="" asp-controller="WebServices">
                                    <span class="icon"><i class="mdi mdi-room-service"></i></span>
                                    <span class="menu-item-label">Services Details</span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Event</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>
                            <li>
                                <a asp-action="CreateEvent" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Create Update</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="" asp-controller="Events">
                                    <span class="icon"><i class="mdi mdi-room-service"></i></span>
                                    <span class="menu-item-label">Event Details</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Products</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>

                            <li>
                                <a asp-action="CreateProduct" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Meadical Product Update</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="" asp-controller="Products">
                                    <span class="icon"><i class="mdi mdi-call-received"></i></span>
                                    <span class="menu-item-label">Madical Product Details</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Scientific</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>


                            <li>
                                <a asp-action="CreateScientific" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Scientific Product Update</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="" asp-controller="Scientifics">
                                    <span class="icon"><i class="mdi mdi-call-received"></i></span>
                                    <span class="menu-item-label"> Scientifics Product Details</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Casestudies</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>



                            <li>
                                <a asp-action="CreateBlog" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Casestudies Update</span>
                                </a>
                            </li>

                            <li>
                                <a asp-action="" asp-controller="Casestudies">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label"> Casestudies Detail</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Speakers</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>



                            <li>
                                <a asp-action="CreateSpeaker" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Speaker Update</span>
                                </a>
                            </li>

                            <li>
                                <a asp-action="" asp-controller="Speakers">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label"> Speaker Detail</span>
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Doctors</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>



                            <li>
                                <a asp-action="CreateDoctor" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Doctors Update</span>
                                </a>
                            </li>

                            <li>
                                <a asp-action="" asp-controller="Doctors">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label"> Doctors Detail</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Department</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>



                            <li>
                                <a asp-action="CreateDepartment" asp-controller="HomeDB">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label">Department Update</span>
                                </a>
                            </li>

                            <li>
                                <a asp-action="" asp-controller="Departments">
                                    <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                                    <span class="menu-item-label"> Department Detail</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a asp-action="" asp-controller="Checkouts">
                            <span class="icon"><i class="mdi mdi-dog-service"></i></span>
                            <span class="menu-item-label"> Checkouts Detail</span>
                        </a>
                    </li>



                    <li>
                        <a asp-action="" asp-controller="Contacts">
                            <span class="icon"><i class="mdi mdi-contact-phone"></i></span>
                            <span class="menu-item-label">Contact Details</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="Feedbacks">
                            <span class="icon"><i class="mdi mdi-contact-mail"></i></span>
                            <span class="menu-item-label">Feedback Details</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="" asp-controller="Appointments">
                            <span class="icon"><i class="mdi mdi-call-received"></i></span>
                            <span class="menu-item-label">Appointment Details</span>
                        </a>
                    </li>








                    @*<li>
            <a asp-action="Forms" asp-controller="HomeDB">
                <span class="icon"><i class="mdi mdi-lock"></i></span>
                <span class="menu-item-label">Signup</span>
            </a>
        </li>
        <li>
            <a href="login.html">
                <span class="icon"><i class="mdi mdi-lock"></i></span>
                <span class="menu-item-label">Login</span>
            </a>
        </li>*@
                    <li>
                        <a class="dropdown">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Roles</span>
                            <span class="icon"><i class="mdi mdi-plus"></i></span>
                        </a>
                        <ul>
                            <li>
                                <a asp-action="ListRole" asp-controller="Administration">
                                    <span>ListRole</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="ListUser" asp-controller="Administration">
                                    <span>ListUser</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="menu-label">About</p>
                <ul class="menu-list">
                    <li>
                        <a href="" onclick="alert('Coming soon'); return false" target="_blank" class="has-icon">
                            <!-- <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
                            <span class="menu-item-label">Premium Demo</span> -->
                        </a>
                    </li>
                    <li>
                        <a href="" class="has-icon">
                            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
                            <span class="menu-item-label">About</span>
                        </a>
                    </li>
                    <!-- <li>
                      <a href="https://github.com/justboil/admin-one-tailwind" class="has-icon">
                        <span class="icon"><i class="mdi mdi-github-circle"></i></span>
                        <span class="menu-item-label">GitHub</span>
                      </a>
                    </li> -->
                </ul>
            </div>
        </aside>


        <div>
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
                <div class="flex items-center justify-start space-x-3">
                    <div>
                        © 2022, BestBus.me
                    </div>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)


    </div>
    <!-- Scripts below are for demo only -->
    <script type="text/javascript" src="~/Assets_DB/js/main.min2eec.js?v=1628755089081"></script>

    <script type="text/javascript" src="~/Assets_DB/cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" c></script>
    <script type="text/javascript" src="~/Assets_DB/js/chart.sample.min.js"></script>


    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            '../../connect.facebook.net/en_US/fbevents.js');
        fbq('init', '658339141622648');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&amp;ev=PageView&amp;noscript=1" /></noscript>

    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" href="~/Assets_DB/cdn.jsdelivr.net/npm/mdi/font@4.9.95/css/materialdesignicons.min.css">

</body>

<!-- Mirrored from technext.github.io/admin-one/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 06:41:30 GMT -->
</html>