@model Novena_Dsahboard.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Event</h4>
<hr />

<div class="card-content">
    <form method="post" enctype="multipart/form-data">
        <div class="field">
            <label class="label">Edit</label>
            <div class="field-body">
                <div class="field">
                    <div class="control icons-left">
                        <input class="input" type="text" placeholder="Heading" asp-for="Title">
                        <span class="icon left"><i class="mdi mdi-format-title"></i></span>
                    </div>
                </div>
                <div class="field">
                    <div class="control icons-left icons-right">
                        <input class="input" type="text" placeholder="Description" asp-for="Decsription">
                        <span class="icon left"><i class="mdi mdi-mail"></i></span>

                    </div>
                </div>
                <div class="field">
                    <div class="control icons-left icons-right">
                        <input class="input" type="text" placeholder="Description" asp-for="Date">
                        <span class="icon left"><i class="mdi mdi-mail"></i></span>

                    </div>
                </div>
                
               
               


            </div>
        </div>

        <div class="btn btn-danger">

            <input type="submit" value="save" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
            <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>

        </div>


    </form>
</div>

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Heading" class="control-label"></label>
                    <input asp-for="Heading" class="form-control" />
                    <span asp-validation-for="Heading" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <input asp-for="Text" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Decsription" class="control-label"></label>
                    <input asp-for="Decsription" class="form-control" />
                    <span asp-validation-for="Decsription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

