@model Novena_Dsahboard.ViewModel.DoctorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "CreateDoctor";
}


<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Doctors
        </h1>

    </div>
</section>


<div class="col-md-10 mx-auto py-4">
    <div class="card">

        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="CreateDoctor">
                <div class="field">
                    <label class="label">From</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Name" asp-for="Name">
                                <span class="icon left"><i class="mdi mdi-format-title"></i></span>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Their Title" asp-for="Title">
                                <span class="icon left"><i class="mdi mdi-format-title"></i></span>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Their Title" asp-for="Dep">
                                <span class="icon left"><i class="mdi mdi-format-title"></i></span>
                                <span asp-validation-for="Dep" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control icons-left icons-right">
                                <input class="input" type="text" placeholder="Description" asp-for="Decsription">
                                <span class="icon left"><i class="mdi mdi-mail"></i></span>
                                <span asp-validation-for="Decsription" class="text-danger"></span>

                            </div>
                        </div>


                        <div class="field">
                            <div class="control icons-left icons-right">
                                <input class="input" placeholder="Picture" asp-for="Picture">
                                <span class="icon left"><i class="mdi mdi-image"></i></span>

                                <span asp-validation-for="Picture" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn btn-danger">

                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>

                </div>


            </form>
            @*<form enctype="multipart/form-data" asp-action="CreateBlog">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="Image" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                        <a asp-action="Casestudy" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                    </div>
                </form>*@
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
    </script>
}



